/* Об’єднання селекторів */
div.warning.very-big#apple {
	color: orange
}

/* ================================================= */
/* Descendant selector - селектор дочірніх елементів всіх рівнів */
/* Браузер читає (парсить) селектори справа наліво  */
main p {
	/* color: green; */
}

/* childe selector - селектор прямих дочірніх елементів */
main>p {
	color: green;
}

/* ================================================== */

/* Adjacent simpling selector - {один} наступний сусідній елемент */
img + p {
	/* color: green; */
}

/* General sibling selector - всі наступні сусідні елементи */
img ~ p {
	color: green;
}

/* Комбінування селекторів */

/* Descendant selector Нащадки, дочірні елементи - з доп. пробілу   ( )       -  Вибрати всі елементи, які є в середині іншого елемента на будь-якому рівні
															    	article p
																	.box p
   Сhild selector                                - з доп. символу   >		  -  Вибрати всі елементи, які є в середині іншого елемента
   Прямі дочірні елементи						                    article > p

   Adjacent sibling selector					 - з доп. символу   +         -  Вибрати сусідній елемент, який іде одразу за першим елементом. 
   Один наступний суміжний (сусідній) елемент                       img + p      “Перший сусід” елемента.Елементи мають бути на одному рівні, тобто спільний батьківський елемент

   General sibling selector					     - з доп. символу   ~ img ~ p -  Вибрати всі наступні сусідні елементи.
   Всі наступні суміжні (сусідні) елементи						                 Елементи мають бути на одному рівні, тобто спільний батьківський елемент

   Об’єднані селектори                           - пишуться разом   div.red   -  Всі елементи які відповідають всім критеріям вибірки разом

                                                                                 Вибрати всі елементи div з класом red
                                                                                 span.warning#tst
 */

 