/*1. Type Selector - селектор елементу */
h1 {
	color: red;
}

h2 {
	color: blue;
}

/* 2. Class selector - селектор класу */

.warning {
	color: orange;
}

.veryBig {
	font-size: 60px;
}

/* 3. ID sekector - селектор ID */

#info-about-site {
	color: green;
}

/* 4. Atribute selector - Селектор атрибуту */

[target=_blank] {
	color: green;
}

/* *=  - має містити таке значення */

[href*="googl"] {
	color: yellow;
}

/*  ^= - починається з */

[href^="http://"] {
color: red;
}

/* $= - повинен закінчуватися на */

[href$=".mp3"] {
font-size: 30px;
}

/* Універсальний селектор (вибере усі елементи або будь які) */

/* * {
	border: 1px solid red  ;
} */

/* Селектори */

/* Type selector Селектор елементу - p, div, span, header - Вибрати всі елементи по типу   
   Class selector Селектор класу   - .header, .reused-component,.1element - Вибрати всі елементи в яких є такий клас 
   																			Клас не може починатися з цифри 
																			Клас використовується для компонентів які перевикористовуються
   ID selector Селектор ID         - #uniqueElement, #block - Вибрати всі елементи в яких є такий ID
															  Однаковий id не може бути присвоєний різним елементам а повинен бути унікальним на сторінці.
 															  Тому id використовується для унікальних елементів
   Attribute selector Селектор атрибуту - [type]            - Вибрати всі елементи в яких є такий атрибут
										  [type='number']
										  href*='example.com'] містить
										  [href^='https'] починається
										  [href$='.com'] закінчується														  
Universal selector Універсальний селектор -   * 			- Вибрати всі елементи

  div.test створить елемент із класом
  span#test створить елемент з id */

  /* [CSS selectors - CSS: Cascading Style Sheets | MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors) */